.wedding-schedule {
    padding: 2rem 2rem;
    background: linear-gradient(135deg, rgba(255, 245, 238, 0.9) 0%, rgba(255, 240, 230, 0.9) 100%);
    margin: 0 auto;
    font-family: "Patriciana", serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
    color: #2f2f2f;
    overflow: hidden;
    min-height: calc(100vh - 4rem);
}

.wedding-schedule header {
    text-align: center;
    margin-bottom: 2rem;
}

.wedding-schedule h2 {
    font-family: Patriciana, serif;
    font-size: clamp(1.3rem, 4vw, 2rem);
    font-weight: bold;
    color: var(--accent);
    margin-bottom: 0.5rem;
}

.wedding-schedule p {
    color: #5a5a5a;
    font-size: 1rem;
}

.wedding-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.schedule-content {
    display: flex;
    justify-content: center;
}

.schedule-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
    max-width: 80vw;
    margin: 0 auto;
}

.schedule-list li {
    flex: 1 1 80vw;
    background: #f9f9f9;
    text-align: left;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease-out forwards;
    background: var(--bg);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: background 0.3s ease;
}

/*.schedule-list time {*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    font-size: 1.1rem;*/
/*    margin-bottom: 5px;*/
/*    color: #444;*/
/*}*/

/*.schedule-list {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0 auto;*/
/*    width: 80vw;*/
/*}*/

/*.schedule-list li {*/
/*}*/

.schedule-list li:nth-child(1) {
    animation-delay: 0.2s;
}

.schedule-list li:nth-child(2) {
    animation-delay: 0.4s;
}

.schedule-list li:nth-child(3) {
    animation-delay: 0.6s;
}

.schedule-list li:nth-child(4) {
    animation-delay: 0.8s;
}

time {
    font-weight: bold;
    color: var(--accent);
    margin-right: 0.5rem;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
